*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}


/****************** Header Start ******************/

header{
  padding: 0 8rem;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.headerLogoContainer h2{
  color: #fff;
}
.navLinksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}
.navLinks {
  padding: 2rem 0;

}
.navLinks a{
  color: #14243C;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
}
.navLinks a:hover{
  color: #14243C;
}

/****************** Header End ******************/

/***************** Banner Start *****************/

.banner{
  padding: 8rem;
  position: relative;
  overflow-x: hidden;
}
.banner .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bannerHeading h1{
  font-size: 52px;
  line-height: 70px;
  font-weight: 400;
  color: #fff;
  width: fit-content;
  margin-bottom: 40px;
}
.bannerHeading h1 b{
  font-weight: 600;
}
.inlineForm{
  margin-bottom: 30px;
}
.inlineForm input{
  max-width: 300px;
  padding: 6px 13px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  line-height: 25px;
  outline: none;
  font-size: 16px;
}
.inlineForm input::placeholder{
  color: #868E95;
}
.inlineForm button{
  padding: 6px 50px;
  border-radius: 4px;
  border: none;
  background-color: #FFD476;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  margin-left: 20px;
}
.bannerSocials p{
  color: #fff;
  margin-bottom: 24px;
}
.bannerSocials img{
  cursor: pointer;
}
.bannerSocials img:last-child{
  margin-left: 20px;
}
.bannerImg1{
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -9;
}
.bannerImg2{
  position: absolute;
  top: -20px;
  right: -100px ;
  z-index: -9;
}
.bannerImg3{
  position: absolute;
  bottom: 80px;
  left: 20px ;
  z-index: -9;
}
.bannerImg4{
  position: absolute;
  bottom: 40px;
  right: 100px ;
  z-index: -9;
}
.bannerImg5{
  position: absolute;
  top: 80px;
  right: -20px ;
  z-index: -9;
}

/***************** Banner End *****************/

/***************** Services Start *****************/
.services{
  padding: 8rem;
}
.services .nav-tabs{
  border-bottom:none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.services  .nav-link{
  transition: 0.3s all;
  border: none !important;
}
.services .nav-item{
  flex: none !important;
  width: fit-content !important;
}
.services .nav-item:hover{
  border: none !important;
}
.services  .nav-link.active{
  transform: scale(1.2);
  border: none;
}
.services .nav-item a:hover{
  border: none !important;
}
.services .nav-item a{
  width: fit-content !important;
}
.sectionHeading h2{
  text-align: center;
  font-size: 42px;
  line-height: 70px;
  font-weight: 400;
  color: #68BAE3;
}
.sectionHeading h2 b{
  font-weight: 600;
}
.servicesBtnContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-top: 80px !important;
}
.servicesBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 16px;
}
.servicesBtn p{
  font-size: 22px;
  color: #868E95;
}
.servicesMainImg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.servicesMainImg img:first-child{
  position: absolute;
  z-index: -9;
}
.services .container .row:last-child{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.servicesContent .content{
  max-width: 550px;
  padding: 20px 30px;
}
.servicesContent .content:nth-child(2){
  background-color: #EBF7FC;
  border-radius: 10px;
  position: relative;
}
.servicesContent .content:nth-child(2)::before{
  content: "";
  border-top: 30px solid #EBF7FC;
  border-bottom:transparent;
  border-left: 30px solid transparent;
  border-right: transparent;
  position: absolute;
  left: -10px;
  transform: rotate(225deg);
  top: 43%;
  z-index: 10;
}
.servicesContent .content p{
  line-height: 30px;
  font-size: 16px;
  color: #868E95;
}
.servicesContent .content h4{
  margin-bottom: 10px;
  color: #68BAE3;
  line-height: 30px;
  font-size: 22px;
  font-weight: 400;
}
/***************** Services End *****************/

/***************** FindUs Start *****************/

.findUs{
  padding: 8rem;
  position: relative;
}
.findUs .container h2{
  text-align: left !important;
}
.findUs .container .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.findUs .inlineForm{
  margin-top: 22px;
}
.findUsBgImg2{
  position: absolute;
  bottom: 0;
  right: 300px;
  z-index: -9;
}
.findUsBgImg1{
  position: absolute;
  top: 0;
  z-index: -9;
  right: 0;
}

/***************** FindUs End *****************/

/***************** OurPartners Start *****************/

.ourPartners{
  padding: 18rem 8rem 10rem;
}
.ourPartners .container .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ourPartnersContent .details h2{
  text-align: left;
}
.ourPartnersContent .content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ourPartnersContent .content img{
  position: absolute;
  left: -120px;
}
.ourPartnersContent .content .details p{
  margin-top: 5px;
  font-size: 16px;
  line-height: 30px;
  color: #868E95;
  width: 300px;
}
.partnersContainer{
  position: relative;
  width: auto;
}
.partnersContainer img:first-child{
  position: absolute;
  top: -200px;
  left: -100px;
}
 
.partnersContainer img:nth-child(2){
  position: absolute;
  top: -50px;
  left: 100px;
}

.partnersContainer img:nth-child(3){
  position: absolute;
  top: -150px;
  right: -50px;
}

.partnersContainer img:nth-child(4){
  position: absolute;
  bottom: -150px;
  right: 0px;
}

.partnersContainer img:last-child{
  position: relative;
  bottom: -100px;
  left: -100px;
}

/***************** OurPartners End *****************/
